body {
    font-family: "Poppins", sans-serif;
}

/*!
 * FONTE
 */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*!
 * NAVBAR
 */
 .navbar-brand {
    width: 200px;
    height: auto;
 }

/*!
 * CAROUSEL
 */
.carousel-caption {
    bottom: 34rem;
}

/*!
 * UTILS
 */
.top-negative {
    top: -100px;
}
.top-space {
    margin-top: 40px;
}
.padding-top-space {
    padding-top: 170px;
}
.text-shadow {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.719);
}
.bg-image {
  background-image: url(../img/fundo-footer.png);
  background-repeat: repeat-x;
  background-position: top;
  background-color: #003d61;
}
.fs-3 {
  line-height: 1.9rem;
}

/*!
 * MOBILES
 */
@media (max-width: 575px) {
    .top-space {
    margin-top: 5px;
    }
    .top-negative {
    top: -260px;
    }
    .padding-top-space {
    padding-top: 80px;
    }
    .fa-lg {
      font-size: 1rem;
    }
}